In [2]:
import pandas as pd 
import numpy as np
# read csv using pandas
data = pd.read_csv('stock.csv')

# check the head of dataframe
data.head()

,Format.[Format],Version.[Version Name],Time.[Week],Sales Domain.[Channel],Location.[Location],Item.[Planning Item],Item.[Division],Total Sales Units,ASP
0,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1028,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
1,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1041,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
2,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1403,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
3,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1004,ADFW4566|OWNTHEGAME K,FOOTWEAR,1,227.62
4,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1071,ADFW4566|OWNTHEGAME K,FOOTWEAR,1,227.62

In [3]:
# check the data types
data.dtypes

Format.[Format]            object
Version.[Version Name]     object
Time.[Week]                object
Sales Domain.[Channel]     object
Location.[Location]        object
Item.[Planning Item]       object
Item.[Division]            object
Total Sales Units           int64
ASP                       float64
dtype: object

In [6]:
data['Item.[Gender MC]'].value_counts()

MENS      56554
WOMENS    32381
KIDS      25168
UNISEX     8150
Name: Item.[Gender MC], dtype: int64

In [7]:
data['Item.[L4]'].value_counts()

1|NIKE|NIKE|MENS|FOOTWEAR|SPORTSWEAR                          9110
1|NIKE|NIKE|WOMENS|FOOTWEAR|SPORTSWEAR                        6344
1|NIKE|NIKE|KIDS|FOOTWEAR|SPORTSWEAR                          6005
1|NIKE|NIKE|MENS|FOOTWEAR|BASKETBALL                          5173
1|NIKE|NIKE|MENS|FOOTWEAR|RUNNING                             4246
                                                              ...
1|SKCH|SKECHERS|UNISEX|FOOTWEAR|CASUAL WEAR& DENIM               1
1|TMBL|TIMBERLAND|UNISEX|FOOTWEAR|BASKETBALL                     1
1|VANS|VANS EUROPE|UNISEX|FOOTWEAR|BASKETBALL                    1
1|GYMK|GYM KING|MENS|FOOTWEAR|OTHER SPORTS                       1
1|ABCF|ABERCROMBIE &FITCH|MENS|FOOTWEAR|CASUAL WEAR& DENIM       1
Name: Item.[L4], Length: 627, dtype: int64

In [8]:
data['Item.[L7]'].value_counts()

1|NIKE|NIKE                    50810
1|ADIS|ADIDAS                  16332
1|VANS|VANS EUROPE              9197
1|TMBL|TIMBERLAND               6074
1|PUMA|PUMA                     5267
                               ...
1|DCKS|DICKIES                     1
1|NENI|ENI NIKE ACCESSORIES        1
1|GRIM|GRIMEY WEAR                 1
1|TRKG|TRIBEKING                   1
1|ABCF|ABERCROMBIE &FITCH          1
Name: Item.[L7], Length: 87, dtype: int64

In [10]:
data['Item.[Season]'].value_counts()

SPRG    47381
FALL    44422
HOLI    14898
SUMR    13712
CORE     1840
Name: Item.[Season], dtype: int64

In [11]:
data1 = pd.read_csv('location master.csv')

In [13]:
data1.head()

,Location.[Location],Location.[Location City],Location.[Location Country],Location.[Shoppers Yield ATV],Location.[StoreConcept],Location.[StoreFormat]
0,1001,DUBAI,UTD.ARAB EMIR.,36.342403,SSS,SSS
1,1002,DUBAI,UTD.ARAB EMIR.,35.766068,SSS,SSS
2,1003,DUBAI,UTD.ARAB EMIR.,0,SSS,SSS
3,1004,DUBAI,UTD.ARAB EMIR.,56.86772,FOL,FOL
4,1005,DUBAI,UTD.ARAB EMIR.,22.434917,SSS,SSS

In [15]:
data1.dtypes

Location.[Location]              object
Location.[Location City]         object
Location.[Location Country]      object
Location.[Shoppers Yield ATV]    object
Location.[StoreConcept]          object
Location.[StoreFormat]           object
dtype: object

In [20]:
data1['Location.[StoreConcept]'].value_counts()

SSS              467
NIKE             106
SUPERCARE         87
FOL               75
RETAIL            46
TMBL              38
CLMB              29
VANS              28
NUTRITION         20
RSH               19
DROPKICK          18
MONO              17
KIDS              15
NFS               14
UARM              14
NOFC              13
WH                 7
REBK               6
STADIUM            6
CONVERSE           6
ARABELLA           3
NUATH              2
RISE               2
JORDAN             2
PED                1
AI Clustering      1
SOCIAL FOOT        1
BLBG               1
QUIKSILVER         1
NWER               1
ADIS               1
BEACON             1
BB                 1
NAPA               1
CB                 1
KICKS LOUNGE       1
MAD                1
GOLF               1
Name: Location.[StoreConcept], dtype: int64

In [21]:
data1['Location.[StoreFormat]'].value_counts()

SSS              505
NIKE             133
MONO             125
SUPERCARE         87
FOL               76
UARM              62
RSH               35
NUTRITION         20
WH                 7
ARABELLA           3
AI Clustering      1
Name: Location.[StoreFormat], dtype: int64

In [22]:
data2 = pd.read_csv('sales_asp.csv')

In [23]:
data2.head()

,Format.[Format],Version.[Version Name],Time.[Week],Sales Domain.[Channel],Location.[Location],Item.[Planning Item],Item.[Division],Total Sales Units,ASP
0,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1028,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
1,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1041,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
2,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1403,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
3,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1004,ADFW4566|OWNTHEGAME K,FOOTWEAR,1,227.62
4,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1071,ADFW4566|OWNTHEGAME K,FOOTWEAR,1,227.62

In [24]:
data2.dtypes

Format.[Format]            object
Version.[Version Name]     object
Time.[Week]                object
Sales Domain.[Channel]     object
Location.[Location]        object
Item.[Planning Item]       object
Item.[Division]            object
Total Sales Units           int64
ASP                       float64
dtype: object

In [25]:
data2['Sales Domain.[Channel]'].value_counts()

RETAIL       629912
CLEARANCE    322096
ECOM          96553
OMNI             14
Name: Sales Domain.[Channel], dtype: int64

In [3]:
data3 = pd.read_csv('sales_asp.csv')

In [4]:
import pandas as pd 
import numpy as np

In [4]:
data3.head()

,Format.[Format],Version.[Version Name],Time.[Week],Sales Domain.[Channel],Location.[Location],Item.[Planning Item],Item.[Division],Total Sales Units,ASP
0,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1028,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
1,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1041,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
2,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1403,ADEF0309|OWNTHEGAME K,FOOTWEAR,1,227.62
3,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1004,ADFW4566|OWNTHEGAME K,FOOTWEAR,1,227.62
4,FOL,CurrentWorkingView,Jan WK01 2021,CLEARANCE,1071,ADFW4566|OWNTHEGAME K,FOOTWEAR,1,227.62

In [5]:
data3.dtypes

Format.[Format]            object
Version.[Version Name]     object
Time.[Week]                object
Sales Domain.[Channel]     object
Location.[Location]        object
Item.[Planning Item]       object
Item.[Division]            object
Total Sales Units           int64
ASP                       float64
dtype: object

In [8]:
data3['Time.[Week]'].value_counts()

May WK02 2021    46637
May WK05 2021    41566
Jan WK01 2021    41125
May WK04 2021    40665
Mar WK04 2021    40628
May WK01 2021    40494
Jun WK01 2021    38658
Jun WK04 2021    37831
Jul WK02 2021    37267
Mar WK03 2021    36918
Jan WK02 2021    36495
Jun WK02 2021    36400
Jun WK03 2021    36378
May WK03 2021    35299
Jul WK01 2021    35155
Apr WK01 2021    34217
Jul WK03 2021    33096
Jan WK04 2021    32421
Mar WK02 2021    31479
Aug WK01 2021    30893
Jul WK04 2021    30148
Apr WK04 2021    29907
Feb WK05 2021    29709
Jan WK03 2021    29639
Mar WK01 2021    29237
Feb WK04 2021    28549
Feb WK01 2021    26129
Feb WK02 2021    25663
Apr WK02 2021    24766
Feb WK03 2021    24701
Apr WK03 2021    23829
Aug WK02 2021     2676
Name: Time.[Week], dtype: int64

In [10]:
data3['Total Sales Units'].value_counts()

1      730237
2      170786
3       70745
4       30439
5       15665
        ...
123         1
87          1
220         1
113         1
129         1
Name: Total Sales Units, Length: 193, dtype: int64

In [5]:
data4 = pd.read_csv('TimeDimension  edited.csv')

In [14]:
data4.head()

      Time.[DayKey] Time.[Day]         Time.[WeekKey]    Time.[Week]
0  07-01-2017 00:00  01-Jul-17  6/25/2016 12:00:00 AM  Jun WK04 2016
1  07-02-2017 00:00  02-Jul-17       07-02-2017 00:00  Jul WK01 2017
2  07-03-2017 00:00  03-Jul-17       07-02-2017 00:00  Jul WK01 2017
3  07-04-2017 00:00  04-Jul-17       07-02-2017 00:00  Jul WK01 2017
4  07-05-2017 00:00  05-Jul-17       07-02-2017 00:00  Jul WK01 2017

In [17]:
data4.dtypes

Time.[DayKey]     object
Time.[Day]        object
Time.[WeekKey]    object
Time.[Week]       object
dtype: object

In [18]:
data4['Time.[DayKey]'].value_counts()

07-01-2017 00:00          1
11-05-2024 00:00          1
10/23/2024 12:00:00 AM    1
10/24/2024 12:00:00 AM    1
10/25/2024 12:00:00 AM    1
                         ..
03-06-2021 00:00          1
03-07-2021 00:00          1
03-08-2021 00:00          1
03-09-2021 00:00          1
07-01-2028 00:00          1
Name: Time.[DayKey], Length: 4019, dtype: int64

In [8]:
data4 ['Time.[Week]'].value_counts()

Dec WK04 2022    7
Nov WK03 2024    7
Oct WK01 2024    7
Oct WK02 2024    7
Oct WK03 2024    7
                ..
Feb WK05 2021    7
Mar WK01 2021    7
Mar WK02 2021    7
Mar WK03 2021    7
Jun WK04 2016    1
Name: Time.[Week], Length: 575, dtype: int64